<!DOCTYPE html>
<html>
<head>
    <title>map</title>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript">
        var loadMap = function()
        {
            var myLatLng = {lat: <%=lat%>, lng: <%=lon%>};
            var map = new google.maps.Map(document.getElementById("map"),{
                zoom: <%=zoom%>,
                center: myLatLng
            });
            var map = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: '<%=name%>'
            });
        };
        window.onload= loadMap;
    </script>

</head>
<body style="margin: 0px">
<div id="map" style="height: 100%; width: 100%; position: absolute; background-color: rgb(229, 227, 223);"/>
</body>
</html>